.static-header {
  background-color: rgb(204, 0, 0);
  display: block;
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  z-index: 99;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(204, 0, 0);
  z-index: 100;
}

.login-btn {
  background-color: transparent;
  border-radius: 5px;
  width: 95px;
  height: 65px;
}

.login-btn:hover {
  background-color: rgb(249, 247, 247);

}

.login-btn:active {
  border: 1px dashed black;

}

.header.text:hover {
  text-decoration: underline;
}

.scroll-header {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  border: solid rgb(0, 0, 0);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scroll-header.fixed {
  position: fixed;
  top: 0;
}

.search-bar {
  background-color: rgb(239, 233, 233);
  width: 550px;
  height: 45px;
  border-radius: 5px;
  border: none;
}

.test {
  margin-top: 2000px;
  background-color: #f8f9fa;
}