.sidebar {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100%;
    background-color: white;
    padding: 20px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .sidebar.visible {
    right: 0;
  }
  .sidebarText {
    color: red;
  }
  .close-btn {
    font-size: 1.5rem;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    padding: 1rem;
    align-self: flex-end;
  }
  .cart2-btn{
    color: white;
    background-color:rgb(204, 0, 0);
    border-radius: 18;
    border-color: rgb(204, 0, 0);
    font-weight: bold;
    
    padding: 10px 22px;
  }
  .cart2-text{
    color: rgb(204, 0, 0);
    font: helvetica;
    font-weight: bold;
    font-size: 25px;
  }
  .cart3-text{
    color: rgb(0, 145, 0);
    font: helvetica;
    font-size: 15px;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .overlay.visible {
    opacity: 1;
    pointer-events: auto;
  }
  .cartphoto{
    margin-right: 1px;
  }
  .cartcontainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: medium;
    
  }
  .cartdescription-text {
    margin: 0;
    
  }