.sidebar {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100%;
    background-color: white;
    padding: 20px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .sidebar.visible {
    right: 0;
  }
  .sidebarText {
    color: red;
  }
  .close-btn {
    font-size: 1.5rem;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    padding: 1rem;
    align-self: flex-end;
  }
  .cart2-btn{
    color: white;
    background-color:rgb(204, 0, 0);
    border-color: rgba(236, 233, 233, 0);
    font-weight: bold;
    width: 300px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
  }
  .cart4-text{
    color: rgb(0, 0, 0);
    font: helvetica;
    font-weight: bold;
    font-size: 26px;
  }
  .cart2-text{
    color: rgb(204, 0, 0);
    font: helvetica;
    font-weight: bold;
    font-size: 25px;
  }
  .cart3-text{
    color: rgb(0, 145, 0);
    font: helvetica;
    font-size: 15px;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .overlay.visible {
    opacity: 1;
    pointer-events: auto;
  }
  .cartphoto{
    margin-right: 1px;
  }
  .cartcontainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: medium;
    
  }
  .cartdescription-text {
    margin: 0;
    
  }

  .cart2-btn.green-outlined {
    background-color: transparent;
    border: 2px solid #4CAF50;
    color: #4CAF50;
  }
  
  .cart2-btn.green-outlined:hover {
    background-color: transparent;
    border: 2px solid #a9cfaa;
    color: #a9cfaa;
  }
  .quantity-dropdown {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: fadein 0.5s forwards;
  }
  
  .quantity-option {
    padding: 4px 8px;
    cursor: pointer;
  }
  
  .quantity-option:hover {
    background-color: #f1f1f1;
  }
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  