.review-container {
    width: 100%;
    display: inline-block;
    justify-content: center;
    margin-top: 50px;
}

.review-card {
    display: block;
    width: 1130px;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 18px;
    font-family: Helvetica;
}

.review-card h4 {
    font-weight: bold;
    font-size: 18px;
}

.star {
    stroke: #5a5858;
    stroke-width: 2px;
}