.review-container {
    width: 100%;
    display: inline-block;
    justify-content: center;
    margin-top: 50px;
}

.review-card {
    display: block;
    width: 1200px;
    height: 220px;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 18px;
    font-family: Helvetica;
}

.review-card h4 {
    width: 100%;
    font-weight: bold;
    font-size: 18px;
}

.star {
    stroke: #5a5858;
    stroke-width: 2px;
    width: 100%;
}

.review-user-date {
    font-size: 12px;
}
.inner-review-container {
    display: inline-flex;
}

.review-description {
    width: 678px;
    font-size: 14px;
    margin-right: 50px;
}

.inner-review-secondary-container {
    display: inline-block;
    padding-top: 20px;
    padding-right: 10px;
    width: 450px;
}

.review-helpful {
    font-size: 12px;
    display: inline-flex;
    height: 20px;
    width: 100%;
    margin-bottom: 12px;
    color: #5b5b5b;
}

.button-div {
    width: 275px;
}

.button-helpful,
.button-not-helpful {
    background-color: white;
    border: 1px solid #5b5b5b;
    border-radius: 5px;
    color: #414141;
    width: 120px;
    height: 32px;
    margin-right: 8px;
    font-size: 12px;
    cursor: pointer;
}

.button-not-helpful {
    margin-right: 20px;
}

.helpful-after {
    display: inline;
    width: 260px;
    font-size: 14px;
}

.report-link-div {
    display: inline;

}

.report-link {
    float: right;
    text-align: right;
    padding-right: 8px;
    width: 125px;
    color: #5b5b5b;
    text-decoration: underline;
    cursor: pointer;
}

.report-link:hover {
    color: #414141;
}

.review-filter {
    display: block;
    height: 145px;
    margin: 90px auto;
    padding-left: 33%;
}

.guest-rating-header {
    padding-left: 20%;
    margin-bottom: 27px;
    font-family: Helvetica;
    font-size: 23px;
    font-weight: bold;
}

.review-rating-bars {
    display: inline-block;
    width: 360px;
    height: 150px;
    margin-right: 12px;
}

.bars-container {
    display: inline-block;
    width: inherit;
    height: 8px;
    padding: 0;
    cursor: pointer;
}

.percentage-review {
    display: inline-block;
    font-family: Arial;
    font-size: 11px;
    color: #737373;
    margin: 0px 0px;
    height: 12px;
    width: 13%;
    text-decoration: underline;
}

.rating-bar {
    display: inline-block;
    width: 50%;
}

.percentage-number {
    display: inline-block;
    font-family: Arial;
    font-size: 11px;
    color: #737373;
    margin: 0px;
    padding-left: 25px;
    height: 12px;
    width: 13%;
    text-decoration: underline;
}

.div-to-center {
    display: inline-block;
    margin: 0px auto;
}

.guest-ratings-container {
    display: inline-block;
    padding-bottom: 20px;
}

.big-star-rating {
    display: inline-block;
    
}

.avg-rating-number {
    text-align: center;
    font-family: Arial;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0px;
}

.number-reviews {
    text-align: center;
    font-family: Helvetica;
    font-size: 14px;
    color: #515151;
}

.review-dropdown-main {
    display: flex;
    width: 1250px;
    height: 90px;
    margin: 50px auto;
    padding: 22px 16px;
    background-color: #f7f7f7;
}

.review-button {
    display: block;
    margin: auto;
    width: 100px;
    height: 35px;
    background-color: #cc0000;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 12px;
    font-family: Arial;
    color: white;
    font-weight: bold;
}

.review-button:hover {
    background-color: #9e0000;
}

.bg-hover-graphic {
    position: relative;
}

.actual-graphic {
    display: block;
    position: absolute;
    top: 0;
    left: 44%;
    opacity: 0;
    width: 200px;
    height: 66px;
    padding: 0;
    background-image: url('./Review Hover Graphic.png');
    transition: opacity 0.4s;
    transition: transform 0.4s;
    transform: translateY(-55px);
}

.drop-down-menu {
    display: inline-block;
    background-color: white;
    width: 240px;
    height: 45px;
    border: 1px solid #696666;
    border-radius: 5px;
    margin-right: 12px;
    text-align: left;
}

#ratings-down-menu {
    width: 210px;
}

.rating-drop-modal {
    display: block;
    position: relative;
    z-index: 1;
    width: 240px;
    background-color: white;
    border: 1px solid #696666;
    border-radius: 5px;
    padding: 10px;
    transform: translate(-12px, 20px);
    font-family: Helvetica;
    font-size: 16px;
}

.recent-drop-modal {
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 250px;
    background-color: white;
    border: 1px solid #696666;
    border-radius: 5px;
    padding: 10px;
    transform: translate(-4px, 20px);
    font-family: Helvetica;
    font-size: 16px;
}

.rating-label {
    transform: translate(3px, -4px);
    cursor: pointer;
}

.drop-down-block {
    display: block;
}

.drop-down-cb {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.recent-drop-content {
    border-bottom: 1px solid #8e8e8e72;
    margin: 10px 0px;
    padding-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
}

#last-content-drop {
    border-bottom: none;
}