.main-container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.details {
    margin-left: 38px;
    color: grey;
    font-size: 14px;
}

.details-brand {
    margin-left: 38px;
    color: grey;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
}

.details-brand:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

    .detail-text {
    cursor: pointer;
    text-decoration: underline;
  }

  .detail-text:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    font-weight: bold;
    font-size: 22px;
    margin-left: 38px;
  }
  
  .photo-area {
    display: flex;
  }
  
  .photo-container {
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
    cursor: crosshair;
  }
  
  .list-products {
    list-style: none;
    flex-direction: column;
    max-height: 500px;
    width: auto;
  }
  
  .list-products li {
    height: 145px;
    width: 145px;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 1rem;
    position: relative;
    border: 1px solid transparent;
    box-sizing: border-box;
  }

  .list-products li.selected:before {
    border-color: black;
  }

  .list-products li.selected {
    border: 1px solid black;
  }
  
  .photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }