.carousel {
    margin: auto;
    margin-top: 100px;
    width: 1340px;
}

.carousel-card {
    display: flex;
    flex-direction: column;
    margin: 4px 8px;
    padding: 12px;
    width: 178px;
    height: 284px;
    border: .5px solid rgb(211, 211, 211, 0.1);
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
    text-align: left;
    color: #333333;
    font-family: Helvetica;
    font-size: 14px;
    cursor: pointer;
}

.imageUrl {
    height: 144px;
    width: 144px;
}

.carousel-card-price {
    font-weight: bold;
    margin: 0px 0px 2px 0px;
    padding: 0px;
}

.carousel-card-text {
    overflow: hidden;
    height: 60px;
    margin: 0px;
    padding: 0px;
}

.main-carousel-header {
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
    width: 31px;
    height: 31px;
    font-family: Helvetica, sans-serif;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #333333;
    justify-content: center;
}

.slick-arrow.slick-prev::before,
.slick-arrow.slick-next::before {
    margin: auto;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bolder;
    color: #333333;
}

.slick-arrow.slick-prev:focus,
.slick-arrow.slick-next:focus {
    background-color: white;
}

.slick-arrow.slick-prev:hover,
.slick-arrow.slick-next:hover {
    background-color: lightgray;
}
