.container {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  line-height: 1.4285;
  text-size-adjust: 100%;
  background-color: rgb(51, 51, 51);
  color: white;
  font-size: 16px;
  line-height: 1.4285;
  width: 100%;
  box-sizing: inherit;
  margin: 0px auto;
  height: 3.5vh;
}

.text{
  flex-direction: row;
  color: white;
  font-size: 2px;
  /* padding-bottom: 12px; */
}

.contentwrap {
  margin-left: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 12px;
}
