/* Specific Footer  component not global */
.container {
  display:flex;
  background-color: #F7F7F7;
  flex-direction: row;
  justify-content: space-between;
  /* margin-left: 12.500px;
  margin-right: 12.500px; */
  border: 0;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  max-width: auto;
}




.bordering {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-size: 16px;
  text-size-adjust: 100%;

} 

.container2 {
  display: flex;
  justify-content: center;
  height: 212px;
  background-color: #F7F7F7;
  /* margin-left: 12.500px;
  margin-right: 12.500px; */


}

.targetplacer {
  display:block;
  height: auto;
  width: 562px;
  max-width: 100%;
  object-fit: none;


}

.tags {
  display: flex;
  font-size: 12px;
  text-align: left;
  /* box-sizing: border-box; */
  flex-direction: column;
  position: 0;
  border: 0;
  padding-top: 8px 16px;


  overflow: visible;
  line-height: inherit;
  vertical-align: baseline;
  position: relative;
  text-decoration: none;

}

.tags:hover{
  text-decoration: underline;
}